@import "../../vars.css";

.container {
  margin: 100px 10%;
  color: var(--color-text);
  text-align: center;
}

.title {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* GRID */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}