@import "../../vars.css";

.container {
  margin: 100px 10%;
  text-align: center;
}

.title {
  color: var(--color-text);
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/* GRID LAYOUT */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

/* CARD STYLE */
.card {
  background: rgba(0, 0, 0, 0);
  border-radius: 20px;
  padding: 25px;
  text-align: left;
  transition: all 0.3s ease;
  border: 1px solid rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);
}

.card:hover {
  transform: translateY(-8px) scale(1.02);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

/* TOP SECTION */
.top h3 {
  font-size: 20px;
  margin: 10px 0 5px;
  color: var(--color-text);
}

.top h4 {
  font-size: 16px;
  color: var(--color-secondary);
  margin-bottom: 10px;
}

/* BADGE */
.badge {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 20px;
}

/* DESCRIPTION */
.card p {
  font-size: 15px;
  color: #ccc;
  line-height: 1.5;
  margin: 15px 0;
}

/* LINK */
.card a {
  text-decoration: none;
  font-weight: 600;
  color: #00c6ff;
  transition: 0.3s;
}

.card a:hover {
  color: var(--color-secondary);
  letter-spacing: 1px;
}

/* RESPONSIVE */
@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
  }
}